################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiMockerDotNet/v15/sqlite3/storage.ide
